:root {
  --chatting-background-color : lightgray;
  --chatting-border-color: darkgray;
  --chatting-content-pre-font-size: medium;
  --chatting-text-color: black;
  --chatting-error-text-color: red;
  --chatting-init-parameter-outline-color: blue;
  --chatting-init-parameter-fade-item-color: lightgray;

}

.chatting-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--chatting-text-color);
}

.chatting-container > .chat-history-topic-panel{
  background-color: var(--chatting-background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
}
