.chatting-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.chatting-container > .chat-history-topic-panel{
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
}
