main > .landing-container{
  height: 100%;
}

.landing-container > .moving-gallery-panel {
  position: absolute;
  height: calc(100% - var(--navbar-height));
  width: 100%;
  top: var(--navbar-height);
  left: 0;
}
/* 
.landing-container > .columns {
  height: 100%;
  z-index: 50;
  position: relative;
}
.landing-container > .columns > .column{
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-container > .columns > .column > .panel{
  text-align: left;
  width: 35%;
  min-width: 400px;
  height: 500px;
  padding: 16px;
  background-color: white;
} */
.landing-container > .floating-panel{
  z-index: 50;
  position: absolute;
  left: 0%;
  top: var(--navbar-height); 
  height: calc(100% - var(--navbar-height)) ;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.2%;
  background-color: white;
}
.landing-container > .floating-panel > .panel{
  height: 100%;
  /* background-color: azure; */
  padding: 16px;
  text-align: left;
  width: 100%;
  /* border: 0.2rem double purple; */
  box-shadow: 25px 3px 17px 5px rgba(128,0,128,0.38);
}
.landing-container > .floating-panel > .panel > .panel-nav > p{

  
}
.landing-container > .floating-panel > .panel > .panel-footer{
  text-align: right;
}
.landing-container > .floating-panel > .panel > .panel-nav > p{
  font-size: 3vw;
  font-weight: 900;
  letter-spacing: .1em;
  color: var(--navbar-bg-color);
  color: #131313;
  /* text-shadow: 0 0 10px violet; */
}
.landing-container > .floating-panel > .panel > .panel-body{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.landing-container > .floating-panel > .panel > .panel-body > .btn-style-h-lg{
  align-self: flex-end;
  
}

.landing-container > .floating-panel > .panel > .panel-body > p{
  margin: auto;
  font-size: 1.6vw;
}