main > .landing-container{
  height: 100%;
}

.landing-container > .moving-gallery-panel {
  position: absolute;
  height: calc(100% - var(--navbar-height));
  width: 100%;
  top: var(--navbar-height);
  left: 0;
}

/* 如果大于 */
@media screen and (min-width: 750px) {
  .landing-container > .floating-panel{
    z-index: 50;
    position: absolute;
    left: 0%;
    top: var(--navbar-height);
    height: calc(100% - var(--navbar-height));
    display: grid;
    align-items: center;
    justify-content: stretch;
    width: 33.3%;
    background-color: white;
    box-shadow: 5px 0px 10px -5px purple;
    grid-template-rows: repeat(8, 1fr) 3fr 1fr;
    border-right: 0.1vw solid purple;
  }
  .landing-container > .floating-panel > div {
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .landing-container > .floating-panel > div > span{
    margin-block: auto;
  }
  .landing-container > .floating-panel > div > .title-h{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    cursor: default;
    padding-left: 2vw;
  }
  .landing-container > .floating-panel > div > .subtitle-h{
    text-align: left;
    font-size: 1.8vw;
    cursor: default;
    padding-left: 2vw;

  }
  .landing-container > .floating-panel > div > .guider{
    color: white;
    background-color: #060644;
    font-size: 1.1vw;
  }
  .landing-container > .floating-panel > div > .guider > .guider-tooltip{
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
  }


  .floating-panel > div  > .major-button{
    color: black;
    text-align: right;
    font-size: 2.8vw;
    font-family: monospace, 'Courier New', Courier ;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    margin: 0px;
    padding-right: 1vw;
  }
  
  .floating-panel > div > .major-button:hover{
    cursor: pointer;
    color: var(--navbar-bg-color);
    color: white;
    text-shadow: 2px 2px 0 purple, 2px -2px 0 purple, -2px 2px 0 purple, -2px -2px 0 purple, 2px 0px 0 purple, 0px 2px 0 purple, -2px 0px 0 purple, 0px -2px 0 purple;
  }
}
/* 如果小于 */
@media screen and (max-width: 750px) {
  .landing-container > .floating-panel{
    display: none;
  }
}

@media screen and (min-width: 1650px) {
  .landing-container > .floating-panel{
    display: none;
  }
}