:root {
  --navbar-height: calc(100vh / 12);
  --navbar-bg-color: #060644;
  --main-text-color: gray;
  --main-navbar-text-color: white;
}

.App > .mobile-navbar-h{
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
}

.mobile-navbar-h > .nav-item{
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-navbar-h > .nav-item > a{
  height: 100%;
}
.mobile-navbar-h > .nav-item i{
  color: var(--main-navbar-text-color);
  transition: all 0.3s;
}

.mobile-navbar-h > .nav-item i:active {
  transform: scale(1.3);
}
.mobile-navbar-h > .nav-item > .navbar-logo{
  display: block;
  height: 100%;
  padding: 2vh;
  width: 100%;
  text-align: left;
}
.mobile-navbar-h > .nav-item > .navbar-logo > img{
  height: 100%;

}
