@property --segment-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

.blinds {
  --initial-segment-size: 20px;
  --segment-size: var(--initial-segment-size);
  -webkit-mask-image: repeating-linear-gradient(
    to bottom,
    #000000,
    #000000 var(--segment-size),
    transparent var(--segment-size),
    transparent var(--initial-segment-size)
  );
  transition: --segment-size 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.blinds:hover {
  --segment-size: 0px;
}