.chatting-container > .chatting-history-content-panel{
  background-color:var(--chatting-background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 18fr 4fr 1fr;
}
.chatting-container > .chatting-history-content-panel > .chatting-history-display{
  background-color: var(--chatting-background-color);
  text-align: left;
  height: 100%;
  overflow-y: scroll;
}
.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel{
  background-color: var(--chatting-background-color);
  position: relative;
}
.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel > .input{
  width: 100%;
  height: 100%;
}

.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel > .input > textarea{
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  resize: none;
  outline: none;
  border: none;
  background-color: var(--chatting-background-color);
  border-top: var(--chatting-border-color) 1px solid;
}

.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel > .submit-button{
  position: absolute;
  right: 18px;
  bottom: 10px;
}
.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel > .submit-button > button{
  background-color: #060644;
  color: white;
  border-radius: 4px;
  border: 1px solid violet;
  opacity: 0.5;
  transition: all 0.3s;
  padding: 3px 20px;
  
}
.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel > .submit-button > button:hover{
  
  box-shadow: 5px 2px 5px purple;
  opacity: 1;
}
.chatting-container > .chatting-history-content-panel > .chatting-question-input-panel > .submit-button > button:active{
  transform: scale(1.2);
}

.animate-box {
	padding: 10px;
	margin: 0 0 20px 0;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

/* animate new box */
.animate-new-box {
	animation: append-animate .3s linear;
}

.chatting-history-display > .chatting-card{
  background-color: var(--chatting-background-color);
}

.chatting-card > .anwser-div > .anwser-display{
  font-size: medium;
  white-space: pre-wrap;
}