.form-checkbox,.form-radio,.form-switch {
  display: block;
  line-height: 1.2rem;
  margin: .2rem 0;
  min-height: 1.4rem;
  padding: .1rem .4rem .1rem 1.2rem;
  position: relative;

}

.form-inline{
  display: inline-block;
}

.accordion input:checked~.accordion-header>.icon:first-child,.accordion[open] .accordion-header>.icon:first-child {
  transform: rotate(90deg);
}

.accordion input:checked~.accordion-body,.accordion[open] .accordion-body {
  max-height:50rem;
}

.accordion .accordion-header {
  display: block;
  padding: .2rem .4rem;
}

.accordion .accordion-header .icon {
  transition: transform .25s;
}

.accordion .accordion-body {
  margin-bottom: .4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.chatting-init-parameter-panel .prompt-container{
  display: flex;
  flex-wrap: wrap;
}
.chatting-init-parameter-panel .prompt-card{
  border: 1px solid var(--chatting-border-color);
  margin: 1%;
  padding: 10px 2% ;
  width: 94%;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
}
.chatting-init-parameter-panel .prompt-card > .type-and-function-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.chatting-init-parameter-panel .new-prompt-div{
  transition: all 0.3s;
  margin: 5px;
  padding: 5px;
}
.chatting-init-parameter-panel .new-prompt-div:hover,.prompt-card:hover{
  transform: scale(1.02);
}
.chatting-init-parameter-panel > .modal > .modal-container > .modal-body > .content textarea{
  min-height: 15vh;
  max-height: 30vh;
  /* resize:none; */
  width: 100%;
  min-width: 100%;
}

.chatting-init-parameter-panel .prompt-function-div{
  display: flex;
}
.chatting-init-parameter-panel .type-and-function-div > div >  i{
  transition: all 0.2s;
}
.chatting-init-parameter-panel .type-and-function-div > div >  i:hover{
  transform: rotate(30deg);
  
}