.chat-history-topic-panel > .chatting-thread-list-panel{
  display: grid;
  grid-template-rows: 1fr 20fr 2fr 1fr;
  width: inherit;
  overflow: hidden;
  text-align: left;
}

.chat-history-topic-panel > .chatting-thread-list-panel > div{
  text-indent: 0.5rem;
  width: inherit;
  overflow: inherit;
  
}
.chat-history-topic-panel > .chatting-thread-list-panel div h3{
  text-align: center;
  opacity: 0.5;
}

.chat-history-topic-panel > .chatting-thread-list-panel > .chatting-thread-list-function-div{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 12px;
  overflow: visible;
  
}
.chatting-thread-list-panel .chatting-thread-function-div{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 2px 8px;
  overflow:visible;
  & > i{
    transition: all .3s;
    width: 35px;
    cursor: pointer;
    &:hover{
      transform: rotate(180deg);
    }
  }
}
.chatting-function-and-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.chat-history-topic-panel > .chatting-thread-list-panel  .chatting-thread-list-div{
  height: 100%;
  flex-grow: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat-history-topic-panel > .chatting-thread-list-panel  .chatting-thread-list-div > .chatting-thread-card{
  display: flex;
  justify-content:space-between;
  width: inherit;
  overflow: inherit;
  transition: all 0.3s;
  cursor: pointer;
  border-bottom: 1px solid var(--chatting-border-color);

  & > .title{
    padding: 12px;
    width: inherit;
    overflow: hidden;
  }
  & > .title > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    text-transform: capitalize;
  }
  & > .title > span{
    font-size: small;
    text-indent:5%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & > .icon-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 8px;
  }
  & > .icon-div > div{
    display: flex;
    justify-content: center;
    
    & > i{
      width: 35px;
      transition: all .3s;
    }
    & > .fa-trash-can:hover{
      transform: rotate(30deg);
    }
    & > .fa-ellipsis:hover{
      transform: rotate(90deg);
    }
  }
}
.chat-history-topic-panel > .chatting-thread-list-panel  .chatting-thread-list-div > .chatting-thread-card:hover{
  transform: scale(1.02);
}
.chat-history-topic-panel > .chatting-thread-list-panel  .chatting-thread-list-div > .chatting-thread-card:active{
  color: var(--chatting-active-text-color);
}
