.document-menu-bar{
  display: grid;
  grid-auto-flow: column;
  column-gap: 3vw;
  
}
.document-menu-bar > div{
  /* cursor: pointer; */
  display: flex;
  text-align: left;
}
.document-menu-bar > div > .icon-place-holder{
  width: 20px;
  height: 20px;
  margin: auto;
}