

.reading-central-panel > .interaction-panel > .interaction-Display{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 8fr auto;
  gap: 3px;
}

.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel{
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .input-panel{
  display: block;
  width: 100%;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .input-panel > div{
  width: 100%;
  position: relative;
  height: calc(100vh /12);
}
.reading-central-panel > .interaction-panel > .interaction-Display > .input-panel > div > textarea{
  width: 100%;
  margin: 0px;
  height: 100%;
  left: 0;
  bottom: 0;
  resize: none;
  position: absolute;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .input-panel > div > button{
  /* margin: 0px 5px; */
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #060644;
  border: 1px solid violet;
  color: white;
  border-radius: 4px;
  padding: 0 2vw;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .input-panel > div > button:hover{
  opacity: 1;
  box-shadow: 5px 2px 5px purple;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .input-panel > div > button:active{
  scale: 1.1;
}

.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div:not(:last-child){
  border-bottom: lightgray 1px solid;

}
.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div{
  text-align: left;
  padding: 10px 0px;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div > .question{
  position: relative;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div > div > :first-child{
  text-transform: capitalize;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div > div > :nth-child(2){
  white-space: pre-line;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div > .anwser{
  font-size: small;
}
.reading-central-panel > .interaction-panel > .interaction-Display > .history-panel > .history-card-div > .question  .function-panel{
  position: absolute;
  right: 20px;
  top: 5px;
  display: flex;
  gap: 10px;
  font-size: small;
}
.function-panel > .tooltip{
  transition: all 0.2s ease-in-out;
}
.function-panel > .tooltip.active{
  color: orange;
}