.tab-h > .tab-item{
  color: black;
  font-size: 20px;
  transition: all 0.5 ease-in-out;
  cursor: pointer;
}

.tab-h > .active{
  color: purple;
  border-bottom: 2px solid violet;
}

.login-modal-justify-right{
  justify-content: flex-end;  
}

.modal-content-h > .columns > .column > form > .form-group > div > input:hover{
  border: 2px solid violet;
}

.modal-content-h > .columns > .column > form > .form-group > div > input:focus{
  border: 2px solid violet;
}
form > .password-hint-div, form > .userId-hint-div{
  display: grid!important;
  grid-template-columns: 1fr;
  text-align: left;
}
form > .password-hint-div > p, form > .userId-hint-div > p{
  margin: 0px;
}
form > .userId-hint-div > p > i{
  margin-left: 30px;
}