.tab-h > .tab-item{
  color: black;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.tab-h > .active{
  color: purple;
  border-bottom: 2px solid purple;
}

.login-modal-justify-right{
  justify-content: flex-end;  
}

.modal-content-h > .columns > .column > form > .form-group > div > input:hover{
  border: 2px solid violet;
}

.modal-content-h > .columns > .column > form > .form-group > div > input:focus{
  border: 2px solid violet;
}
form > .password-hint-div, form > .userId-hint-div{
  display: grid!important;
  grid-template-columns: 1fr;
  text-align: left;
}
form > .password-hint-div > p, form > .userId-hint-div > p{
  margin: 0px;
}
form > .userId-hint-div > p > i{
  margin-left: 30px;
}

.modal > .modal-container > .modal-header > .modal-title{
  color: darkgrey;
}
.modal > .modal-container > .modal-body > .content > .tab-h{
  align-items: center;
  border-bottom: 0.05rem solid #dadee4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0.2rem 0 0.15rem 0;
}

.tab.tab-block .tab-item {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  text-align: center;
}

.tab .tab-item {
  margin-top: 0;
  padding-bottom: 5px;
}