#root > .App > .message-footer-h{
  bottom: 0;
  right: 0;
  z-index: 400;
  display: grid;
  box-sizing: border-box;
  grid-auto-flow: column;
  overflow: hidden;
}
#root > .App > .message-footer-h > div{
  min-width: calc(100vw / 6);
  animation: toastIn 1s linear;
  transition: all 0.5s ease-in-out;
}
#root > .App > .message-footer-h > .on-remove{
  animation: toastOut 1s linear;
}
@keyframes toastIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);

  }
}
@keyframes toastOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);

  }
}
