.moving-gallery-div {
  width: 100%;
  height: 100%;
}

/* 如果大于 */
@media screen and (min-width: 420px) {
  .moving-gallery-panel{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url(seamless-pattern-background-purple-vector-4822052-0.jpg);
  }
  
  .container-fluid, .container-fluid > .row , .container-fluid > .row > div, .container-fluid > .row > div > .carousel__wrapper{
    overflow:visible;
  }
  /* carousel below */
  :root {
    --no-of-slides: 8;
    --slides-in-view: 4;
    --slide-height: calc(100vh / 3);
    --slide-width: calc(var(--slide-height) * 0.707);
    --slide-width-gap: 40px;
    --slide-row-gap : calc(100vh / 24);
    
    --iteration-time: 680s;
  }

  @keyframes scrollForward {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc((var(--slide-width) + var(--slide-width-gap)) * var(--no-of-slides) * -1));
    }
  }
  @keyframes scrollBackward {
    100% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(calc((var(--slide-width) + var(--slide-width-gap)) * var(--no-of-slides) * -1));
    }
  }

  .carousel__wrapper {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /* width: calc(var(--slides-in-view) * var(--slide-width)); */
    overflow: hidden;
    /* border: 1px dashed gray; */
    margin: 0 auto;
  }

  .carousel_forward > .carousel__slide{
    animation: scrollForward var(--iteration-time) linear infinite;
  }
  .carousel_backward > .carousel__slide{
    animation: scrollBackward var(--iteration-time) linear infinite;
  }
  .carousel_backward:active > *, .carousel_forward:active > *{
    animation-play-state: paused;
  }
  
  .carousel {
    padding: 100px 0;
    background: lightblue;
    overflow: hidden;
    width: calc(2 * var(--no-of-slides));
  }

  .carousel__slide{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-right: var(--slide-width-gap);
    box-sizing: border-box;
    width: var(--slide-width);
    height: var(--slide-height);
    position: relative;
    border: 0.1rem solid #888;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.4;

  }
  .carousel__slide:hover{
    opacity: 1;
  }
  .carousel__image:hover{
    scale: 1.1;
    /* border: 0.3rem solid purple; */
    box-shadow: 0.2rem 4px 9px 0px violet;
    border: 0.1rem solid purple;
  }

  .carousel__image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
  }


/*   
  .carousel {
    counter-reset: slideNo;
  } */

  /* .carousel__slide::before {
    counter-increment: slideNo;
    content: counter(slideNo);
    position: absolute;
    top: 0%;
    left: 50%;
    font-size: 2rem;
    color: lime;
  } */
  .moving-gallery-div > section{
    height: 100%;
  }
  .moving-gallery-div > section > .container-fluid{
    height: 100%;
    display: grid;
  }
  .moving-gallery-div > section > .container-fluid > .row {
    margin-top: var(--slide-row-gap);
  }
  /* height more than 720px; */
  @media screen and (min-height: 760px) {
    /* .moving-gallery-div > section > .container-fluid > .third-row{
      display: block;
    } */
  }
  /* height more less 720px; */
  @media screen and (max-height: 760px) {
    /* .moving-gallery-div > section > .container-fluid > .third-row{
      display: none;
    } */
  }
}

/* 如果小于 */
@media screen and (max-width: 420px) {
  .moving-gallery-div {
    background-color: purple;
  }
  .moving-gallery-div > * {
    display: none;
  }
}