:root {
  --navbar-height: 60px;
}
.navbar-h > .navbar-section > .navbar-logo {
  display: flex;
}
.navbar-h > .navbar-section > .navbar-logo > img{
  margin: 8px;
}
.navbar-h > .navbar-section > .navbar-logo > span{
  margin: auto;
  font-family: math;
}
.navbar-h > .navbar-section > .navbar-logo:hover, .navbar > .navbar-section > .navbar-logo:after{
  text-decoration: none;
}
.navbar-h {
  background-color: #060644;
  transition: all 0.5 ease-in-out;
  height: var(--navbar-height);
  color: violet;
}
.navbar-h > .navbar-section > a {
  height: 100%;
  transition: all 0.3 ease-in-out;
  display: flex;
  align-items: center;
}
.navbar-h > .navbar-section{
  align-self: center;
  height: 100%;
}
.navbar-h > .navbar-section > .nav-link-h:hover {
  background-color: white!important;
  color: purple!important;
}
.form-label-h{
  text-align: left;
}
