.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 20px;
}
html, body, main, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 1.3vw; */
}
*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  background: #fff;
  color: #3b4351;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: .8rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
main{
  height: calc(100% - var(--navbar-height));
  
}
html{
  overflow-y: hidden!important;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ////////////////////////////////////// */
.is-not-visable-h{
  display: none!important;
}
.input-theme-border{
  border: 2px solid purple!important;
}
.input-theme-border:hover{
  border: 2px solid violet!important;
}
.btn-theme-border{
  background-color: #060644!important;
  border: 1px solid purple!important;
  color: #fff!important;
}
.btn-theme-border:hover{
  background-color: #060644;
  border-color: violet!important;
  box-shadow: -3px 2px 5px purple!important;
}
.unselectable {
  user-select: none;
}
.text-color{
  color: white!important;
}


/* button */
.btn-style-h-lg{
  background-color: #060644!important;
  color: white!important;
  border: 2px solid violet!important;
  border-radius: 3px!important;
  padding: 0.3vh 10vw ;
  cursor: pointer;
  font-size: xx-large;
  transition: all 0.5s ease-out;
}
.btn-style-h-lg:hover{
  box-shadow: -5px 2px 5px purple;
}
.btn-style-h{
  background-color: #060644!important;
  color: white!important;
  border: 1px solid violet!important;
  border-radius: 4px!important;
  padding: 0 5% ;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-style-h:hover{
  box-shadow: 5px 2px 5px purple;
}
.btn-style-h > * , .btn-style-h-lg > *{
  margin-bottom: 0;
}

.c-hand{
  cursor: pointer;
}

.modal.active, .modal:target {
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 400;
}
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0;
}

.modal.active .modal-container, .modal:target .modal-container {
  animation: slide-down .2s ease 1;
  z-index: 1;
}
.modal-container {
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(48,55,66,.3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 75vh;
  max-width: 640px;
  padding: 0 0.8rem;
  width: 100%;
}

.modal.active .modal-overlay, .modal:target .modal-overlay {
  background: rgba(247,248,249,.75);
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal.active>.modal-overlay {
  background-color: #66758ccc;
}
.modal-container .modal-header {
  color: #303742;
  padding: 0.8rem;
}

.modal-container .modal-body {
  overflow-y: auto;
  padding: 0.8rem;
  position: relative;
}

.modal.modal-lg .modal-overlay {
  background: #fff
}

.modal.modal-lg .modal-container {
  box-shadow: none;
  max-width: 960px
}

.btn.btn-clear {
  background: 0 0;
  border: 0;
  color: currentColor;
  height: 1rem;
  line-height: .8rem;
  margin-left: 0.2rem;
  margin-right: -2px;
  opacity: 1;
  padding: 0.1rem;
  text-decoration: none;
  width: 1rem;
}
.float-right {
  float: right!important;
}

.text-left {
  text-align: left;
}
.h5, h5 {
  font-size: 1rem;
}
h6, .h6{
  font-size: 1.2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}
.col-3 {
  width: 25%;
}
.col-9 {
  width: 75%;
}
.col-12 {
  width: 100%;
}

.column, [class~=col-] {
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.form-horizontal {
  padding: 0.4rem 0;
}

.form-horizontal .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-label {
  display: block;
  line-height: 1.2rem;
  padding: 0.3rem 0;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: #3b4351;
  display: block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: 0;
  padding: 0.25rem 0.4rem;
  position: relative;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  width: 100%;
}
button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}


.form-group:not(:last-child) {
  margin-bottom: 0.4rem;
}
ol, ul {
  margin: 0.8rem 0 0.8rem 0.8rem;
  padding: 0;
}

.has-error .form-input-hint, .is-error+.form-input-hint {
  color: red;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;

}
.loading-icon-h{
  margin: 0px 10px;
  line-height: 38px;
  color: purple;
}

.p-absolute{
  position: absolute;
}
@keyframes slide-down {
  0% {
      opacity: 0;
      transform: translateY(-1.6rem)
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}
@keyframes slide-up {
  100% {
      opacity: 0;
      transform: translateY(-1.6rem)
  }

  0% {
      opacity: 1;
      transform: translateY(0)
  }
}

.bg-gray {
  background: #f7f8f9!important
}
.bg-dark {
  background: #303742!important;
  color: #fff
}

.tooltip {
  position: relative;
}

.popover {
  display: inline-block;
  position: relative
}

.popover .popover-container {
  left: 50%;
  opacity: 0;
  padding: .4rem;
  position: absolute;
  top: 0;
  transform: translate(-50%,-50%) scale(0);
  transition: transform .2s;
  width: 320px;
  z-index: 300
}

.popover :focus+.popover-container,.popover:hover .popover-container {
  display: block;
  opacity: 1;
  transform: translate(-50%,-100%) scale(1)
}

.popover.popover-right .popover-container {
  left: 100%;
  top: 50%
}

.popover.popover-right :focus+.popover-container,.popover.popover-right:hover .popover-container {
  transform: translate(0,-50%) scale(1)
}

.popover.popover-bottom .popover-container {
  left: 50%;
  top: 100%
}

.popover.popover-bottom :focus+.popover-container,.popover.popover-bottom:hover .popover-container {
  transform: translate(-50%,0) scale(1)
}

.popover.popover-left .popover-container {
  left: 0;
  top: 50%
}

.popover.popover-left :focus+.popover-container,.popover.popover-left:hover .popover-container {
  transform: translate(-100%,-50%) scale(1)
}

.popover .card {
  border: 0;
  box-shadow: 0 .2rem .5rem rgba(48,55,66,.3)
}

.close-button{
  transition: all 0.2s ease;
}
.close-button:hover{
  font-size: larger;
  transform: rotate(90deg);
}


.tile {
  align-content: space-between;
  align-items: flex-start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-line-pack: justify
}

.tile .tile-action,.tile .tile-icon {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.tile .tile-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.tile .tile-content:not(:first-child) {
  padding-left: .4rem
}

.tile .tile-content:not(:last-child) {
  padding-right: .4rem
}

.tile .tile-subtitle,.tile .tile-title {
  line-height: 1.2rem
}

.tile.tile-centered {
  align-items: center;
  -ms-flex-align: center
}

.tile.tile-centered .tile-content {
  overflow: hidden
}

.tile.tile-centered .tile-subtitle,.tile.tile-centered .tile-title {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}


.avatar {
  background: #5755d9;
  border-radius: 50%;
  color: rgba(255,255,255,.85);
  display: inline-block;
  font-size: .8rem;
  font-weight: 300;
  height: 1.6rem;
  line-height: 1.25;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 1.6rem
}

.avatar.avatar-xs {
  font-size: .4rem;
  height: .8rem;
  width: .8rem
}

.avatar.avatar-sm {
  font-size: .6rem;
  height: 1.2rem;
  width: 1.2rem
}

.avatar.avatar-lg {
  font-size: 1.2rem;
  height: 2.4rem;
  width: 2.4rem
}

.avatar.avatar-xl {
  font-size: 1.6rem;
  height: 3.2rem;
  width: 3.2rem
}

.avatar img {
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1
}

.avatar .avatar-icon,.avatar .avatar-presence {
  background: #fff;
  bottom: 14.64%;
  height: 50%;
  padding: .1rem;
  position: absolute;
  right: 14.64%;
  transform: translate(50%,50%);
  width: 50%;
  z-index: 2
}

.avatar .avatar-presence {
  background: #bcc3ce;
  border-radius: 50%;
  box-shadow: 0 0 0 .1rem #fff;
  height: .5em;
  width: .5em
}

.avatar .avatar-presence.online {
  background: #32b643
}

.avatar .avatar-presence.busy {
  background: #e85600
}

.avatar .avatar-presence.away {
  background: #ffb700
}

.avatar[data-initial]::before {
  color: currentColor;
  content: attr(data-initial);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1
}