.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 20px;
}
html, body, main, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 1.3vw; */
}
*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  background: #fff;
  color: #3b4351;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: .8rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
main{
  height: calc(100% - var(--navbar-height));
  
}
html{
  overflow-y: hidden!important;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ////////////////////////////////////// */
.is-not-visable-h{
  display: none!important;
}
.input-theme-border{
  border: 2px solid purple!important;
}
.input-theme-border:hover{
  border: 2px solid violet!important;
}
.btn-theme-border{
  background-color: #060644!important;
  border: 1px solid purple!important;
  color: #fff!important;
}
.btn-theme-border:hover{
  background-color: #060644;
  border-color: violet!important;
  box-shadow: -3px 2px 5px purple!important;
}
.unselectable {
  user-select: none;
}
.text-color{
  color: white!important;
}
.modal.active > .modal-overlay{
  background-color: white!important;
}
/* button */
.btn-style-h-lg{
  background-color: #060644!important;
  color: white!important;
  border: 2px solid violet!important;
  border-radius: 3px!important;
  padding: 0.3vh 10vw ;
  cursor: pointer;
  font-size: xx-large;
  transition: all 0.5s ease-out;
}
.btn-style-h-lg:hover{
  box-shadow: -5px 2px 5px purple;
}
.btn-style-h{
  background-color: #060644!important;
  color: white!important;
  border: 1px solid violet!important;
  border-radius: 4px!important;
  padding: 0 5% ;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-style-h:hover{
  box-shadow: 5px 2px 5px purple;
}
.btn-style-h > * , .btn-style-h-lg > *{
  margin-bottom: 0;
}

.c-hand{
  cursor: pointer;
}

.modal.active, .modal:target {
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 400;
}
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0;
}

.modal.active .modal-container, .modal:target .modal-container {
  animation: slide-down .2s ease 1;
  z-index: 1;
}
.modal-container {
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(48,55,66,.3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 75vh;
  max-width: 640px;
  padding: 0 0.8rem;
  width: 100%;
}

.modal.active .modal-overlay, .modal:target .modal-overlay {
  background: rgba(247,248,249,.75);
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal.active>.modal-overlay {
  background-color: #66758ccc!important;
}
.modal-container .modal-header {
  color: #303742;
  padding: 0.8rem;
}

.modal-container .modal-body {
  overflow-y: auto;
  padding: 0.8rem;
  position: relative;
}

.btn.btn-clear {
  background: 0 0;
  border: 0;
  color: currentColor;
  height: 1rem;
  line-height: .8rem;
  margin-left: 0.2rem;
  margin-right: -2px;
  opacity: 1;
  padding: 0.1rem;
  text-decoration: none;
  width: 1rem;
}
.float-right {
  float: right!important;
}

.text-left {
  text-align: left;
}
.h5, h5 {
  font-size: 1rem;
}
h6, .h6{
  font-size: 1.2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}
.col-3 {
  width: 25%;
}
.col-9 {
  width: 75%;
}
.col-12 {
  width: 100%;
}

.column, [class~=col-] {
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.form-horizontal {
  padding: 0.4rem 0;
}

.form-horizontal .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-label {
  display: block;
  line-height: 1.2rem;
  padding: 0.3rem 0;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: #3b4351;
  display: block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: 0;
  padding: 0.25rem 0.4rem;
  position: relative;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  width: 100%;
}
button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}


.form-group:not(:last-child) {
  margin-bottom: 0.4rem;
}
ol, ul {
  margin: 0.8rem 0 0.8rem 0.8rem;
  padding: 0;
}

.has-error .form-input-hint, .is-error+.form-input-hint {
  color: red;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;

}
.loading-icon-h{
  margin: 0px 10px;
  line-height: 38px;
  color: violet;
}

.p-absolute{
  position: absolute;
}
@keyframes slide-down {
  0% {
      opacity: 0;
      transform: translateY(-1.6rem)
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}
@keyframes slide-up {
  100% {
      opacity: 0;
      transform: translateY(-1.6rem)
  }

  0% {
      opacity: 1;
      transform: translateY(0)
  }
}